.container{
    margin-top: 180px;
  }

form{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

.search{
    border: #052943 solid 2px;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
}

.searchbtn ,.dropBtn,  .write{
    background-color: #052943;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.searchbtn:hover{
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    ;
}

.dropBtn:hover{
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

ul,
li {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    padding: 20px;
    background: #ececec;
    text-align: center;
    color: #666;
    font-size: 15px;
    border-top: 3px solid #052943;
    border-bottom: 2px solid #ddd;
}

table td {
    padding: 14px 21px;
    color: #666;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table tr:hover {
    background: #eee;
    cursor: pointer;
}

.subject {
    width: 45%;
    text-align: left;
}

.paging {
    padding: 20px 0;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.paging>ul {
    display: flex;
    justify-content: center;
}

.paging>ul>li {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #efefef;
    border: 1px solid #999;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
}
.paging>ul>li:hover {
    cursor: pointer;
    background: #052943;
    color: #fff;
}

.active{
    color: #052943;
    font-weight: bolder;
}