footer {
  width: 100%;
  background-color: rgb(243, 243, 243);
  border-top: 1px solid #e6e6e6;
  color: black;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fwb {
  font-weight: bolder;
}
.footer_container {
  width: 76%;
}
.fc_2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  font-size: 14px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.fc_3 {
  margin: 20px 0px;
}
.fc_3_title {
  width: 100px;
}
.fc_3_1 {
  display: flex;
  width: 2500px;
}
.fc_3_content {
  display: flex;
  font-size: 14px;
  margin-left: 40px;
  align-items: center;
}
.short_line2 {
  width: 1px;
  height: 15px;
  background-color: #c4c4c4;
  margin: 0px 10px;
}
.fc_4_content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 20px 0px;
  border-top: 1px solid #e6e6e6;
}
.logo {
  width: 280px;
  height: 90px;
  background: url(../img/logo2.png) 0px 85px;
}
header {
  position: fixed;
  top: 0;
  z-index: 105;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.2);
}
.nav_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 30px;
}
.nav_2 {
  font-size: 16px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_2 a {
  text-decoration-line: none;
}
.nav_3 {
  float: right;
}
.nav_3 i {
  margin-right: 16px;
}
.nav_icon {
  color: black;
}
.short_line {
  width: 1px;
  height: 15px;
  background-color: #e6e6e6;
  margin: 0px 50px;
}

.active {
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.active_font {
  color: black;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.active_title {
  width: 280px;
  height: 90px;
  background: url(../img/logo2.png) 0px 85px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}

.deactive {
  background-color: #052943;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.deactive_font {
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.deactive_title {
  width: 280px;
  height: 90px;
  background: url(../img/logo.png) 0px 90px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
.colored {
  font-weight: bolder;
}
