.body {
  font-family: 'Hahmlet', serif;
  background-color: rgb(243, 243, 243);
}

.collapse {
  z-index: 999;
}

.btn {
  z-index: 999;
}

.swiper {
  position: relative;
  height: 802px;
  justify-content: center;
  margin-top: 131px;
  width: 95%;
  border-left: 1px solid #99aebf;
  border-right: 1px solid #99aebf;
  border-radius: 35px;
  background-color: white;
}

.swiper::before{
  content: "";
  background: url(imgs/alexandre-trouve-Via0Hy2rYIc-unsplash.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.swiper .swiper-slide {
  width: 100%;
  height: 772px;
}

.swiper-slide {
  position: relative;
  flex-direction: column;
}

.swiper-slide *:not(.btn):not(.icon2) {
  margin-bottom: 30px;
  font-weight: bold;
}

.swiper .btn {
  margin-top: 5px;
  width: 140px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.just-bar2 {
  border-top: 1px solid goldenrod;
  margin-right: 279px;
}

.swiper-slide img:not(.icon2) {
  position: absolute;
  left: 10%;
  top: 23%;
  width: 714px;
  height: 400px;
  border-radius: 30px;
}

.slider-contents {
  position: absolute;
  left: 60%;
  top: 30%;
  width: 744px;
  height: 400px;
}

.slider-contents * {
  font-size: medium;
}

/* 이전 버튼 위치 및 스타일 변경 */
.swiper-button-prev {
  left: 10px;
  transform: translateY(-50%);
  color: #052943 !important;
}

/* 다음 버튼 위치 및 스타일 변경 */
.swiper-button-next {
  right: 10px;
  transform: translateY(-50%);
  color: #052943 !important;
  /* 버튼 텍스트 색상 변경 */
}


/* 페이지네이션 불렛 버튼 스타일 변경 */
.swiper-pagination-bullet {
  width: 7px !important;
  /* 버튼 가로 크기 변경 */
  height: 7px !important;
  /* 버튼 세로 크기 변경 */
  margin: 0 10px !important;
  background-color: #052943 !important;
  position: relative;
  top: -65px !important;
  left: 1100px !important;
}

/* 현재 활성화된 페이지네이션 불렛 버튼 스타일 변경 */
.swiper-pagination-bullet-active {
  background-color: goldenrod !important;
  /* 활성화된 버튼 배경색 변경 */
}

/* .main-slide{
    background-color: #052943;
  } */

section2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 95%;
  border-left: 1px solid #99aebf;
  border-right: 1px solid #99aebf;
  border-radius: 35px;
  background-color: white;
  padding-bottom: 30px;
  background-size: cover;
}

.animate::before{
  content: "";
  background: url(imgs/robson-hatsukami-morgan-ku9Ftte6Ymo-unsplash.jpg) no-repeat;
  border-radius: 35px;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}



.left-section {
  position: sticky;
  left: 374px;
  top: 30px;
  height: 410px;
  width: 45%;
  margin-top: 70px;
  margin-left: 140px;
  background-size: cover;
}

#just-bar {
  padding-left: 450px;
  margin-top: 50px;
  margin-right: 500px;
  border-bottom: 1px solid goldenrod;
}

.left-section>a {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  position: relative;
  width: 17px;
  margin-top: 5px;
  filter: invert();
}

.icon2 {
  position: relative;
  width: 17px;
  margin-top: 5px;
  filter: invert();
}

.right-section {
  display: flex;
  flex-wrap: wrap;
  width: 822px;
  height: 1445px;
  margin-top: 70px;
  margin-left: -118px;
  background-size: cover;
  z-index: 99;
}

.right-section>div:nth-child(1) {
  width: 327px;
  height: 421px;
  margin-left: 26px;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/33.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  z-index: 900;
}


.right-section>div:nth-child(2) {
  width: 327px;
  height: 421px;
  margin-top: 40px;
  margin-left: 90px;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/66.png);
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  z-index: 900;
}

.right-section>div:nth-child(3) {
  width: 327px;
  height: 421px;
  margin-left: 26px;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/11.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  z-index: 900;
}

.right-section>div:nth-child(4) {
  width: 327px;
  height: 421px;
  margin-top: 40px;
  margin-left: 90px;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/44.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
    z-index: 900;
}

.right-section>div:nth-child(5) {
  width: 327px;
  height: 421px;
  margin-left: 26px;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/55.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  z-index: 900;
}

.right-section>div:nth-child(6) {
  width: 327px;
  height: 421px;
  margin-top: 40px;
  margin-left: 90px;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/22.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  z-index: 900;
}

.right-section>div:nth-child(1):hover {
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-5px);
}

.right-section>div:nth-child(2):hover {
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-5px);
}

.right-section>div:nth-child(3):hover {
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-5px);
}

.right-section>div:nth-child(4):hover {
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-5px);
}

.right-section>div:nth-child(5):hover {
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-5px);
}

.right-section>div:nth-child(6):hover {
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-5px);
}

.right-section p {
  background-color: #052943;
  color: #fff;
  display: inline-block;
  padding: 11px 15px;
  border-radius: 30px;
  font-size: 13px;
  margin: 20px;
  font-weight: bold;
}

.right-section h4 {
  font-size: medium;
  color: #fff;
  margin-left: 20px;
  font-weight: bold;
}

section3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 95%;
  border-left: 1px solid #99aebf;
  border-right: 1px solid #99aebf;
  border-radius: 35px;
  background-color: white;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: auto;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  font-size: x-large;
  font-weight: bold;
}

.animate2 {
  display: flex;
  width: 70%;
  height: 532px;
  padding-left: 100px;
  padding-right: 100px;
  /* padding-top: 80px; */
  padding-bottom: 30px;
  justify-content: center;
  z-index: 99;
}

.container2{
  position: relative;
}

.container2::before{
  content: "";
  background: url(imgs/33333.jpg) no-repeat;
  border-radius: 35px;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.animate2>div:nth-child(1) {
  width: 330px;
  height: 341px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/111.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

.animate2>div:nth-child(2) {
  width: 330px;
  height: 341px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/222.jpg);
  border-radius: 30px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

.animate2>div:nth-child(3) {
  width: 330px;
  height: 341px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/333.png);
  border-radius: 30px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

/* .animate2>div:nth-child(1):before {
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate2>div:nth-child(1):hover {
  border-radius: 30px;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
}

.animate2>div:nth-child(1):hover:before {
  border: 10px solid #052943;
  border-radius: 30px;
  border-color: #052943;
  border-width: 10px;
}

/* .animate2>div:nth-child(2):before {
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate2>div:nth-child(2):hover {
  border-radius: 30px;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
}

.animate2>div:nth-child(2):hover:before {
  border: 10px solid #052943;
  border-radius: 30px;
  border-color: #052943;
  border-width: 10px;
}

/* .animate2>div:nth-child(3):before {
  border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate2>div:nth-child(3):hover {
  border-radius: 30px;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
}

.animate2>div:nth-child(3):hover:before {
  border: 10px solid #052943;
  border-radius: 30px;
  border-color: #052943;
  border-width: 10px;
}

.in-text {
  margin-top: 206px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.animate2 p {
  background-color: #052943;
  color: #fff;
  display: inline-block;
  padding: 11px 15px;
  border-radius: 30px;
  font-size: 13px;
  margin: 20px;
  font-weight: bold;
}

.animate2 h4 {
  color: #fff;
  margin: auto;
  font-weight: bold;
  font-size: large;

}

section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 95%;
  border-left: 1px solid #99aebf;
  border-right: 1px solid #99aebf;
  border-radius: 35px;
  background-color: white;
  z-index: 99;
}

.container3::before{
  content: "";
  background: url(imgs/44444.jpg) no-repeat;
  border-radius: 35px;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.texts2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: auto;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  font-size: x-large;
  font-weight: bold;
}

.animate3 {
  display: flex;
  width: 95%;
  height: 532px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  justify-content: center;
  z-index: 99;
}

.animate3>div:nth-child(1) {
  border-radius: 80%;
  overflow: hidden;
  width: 320px;
  height: 320px;
  /* margin-left: 70px; */
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/1111.jpg);
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

.animate3>div:nth-child(2) {
  border-radius: 80%;
  overflow: hidden;
  width: 320px;
  height: 320px;
  /* margin-left: 70px; */
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/2222.jpg);
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

.animate3>div:nth-child(3) {
  border-radius: 80%;
  overflow: hidden;
  width: 320px;
  height: 320px;
  /* margin-left: 70px; */
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/3333.jpg);
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

.animate3>div:nth-child(4) {
  border-radius: 80%;
  overflow: hidden;
  width: 320px;
  height: 320px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-image: url(imgs/4444.jpg);
  transition: transform 0.3s ease, border-color 0.3s ease;
  z-index: 900;
}

/* .animate3>div:nth-child(1):before {
  border-radius: 70%;
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate3>div:nth-child(1):hover {
  border-radius: 70%;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
  overflow: hidden;
}

.animate3>div:nth-child(1):hover:before {
  border: 10px solid #052943;
  border-radius: 70%;
  overflow: hidden;
  border-color: #052943;
  border-width: 10px;
}

/* .animate3>div:nth-child(2):before {
  border-radius: 70%;
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate3>div:nth-child(2):hover {
  border-radius: 70%;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
  overflow: hidden;
}

.animate3>div:nth-child(2):hover:before {
  border: 10px solid #052943;
  border-radius: 70%;
  overflow: hidden;
  border-color: #052943;
  border-width: 10px;
}

/* .animate3>div:nth-child(3):before {
  border-radius: 70%;
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate3>div:nth-child(3):hover {
  border-radius: 70%;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
  overflow: hidden;
  
}

.animate3>div:nth-child(3):hover:before {
  border: 10px solid #052943;
  border-radius: 70%;
  overflow: hidden;
  border-color: #052943;
  border-width: 10px;
}

/* .animate3>div:nth-child(4):before {
  border-radius: 70%;
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
} */

.animate3>div:nth-child(4):hover {
  border-radius: 70%;
  box-shadow: 0 0 5px 5px #052943;
  transform: translateY(-30px);
  overflow: hidden;
}

.animate3>div:nth-child(4):hover:before {
  border: 10px solid #052943;
  border-radius: 70%;
  overflow: hidden;
  border-color: #052943;
  border-width: 10px;
  overflow: hidden;
}

.animate3 .in-text {
  margin-top: 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.animate3 p {
  color: #fff;
  display: inline-block;
  /* padding: 11px 15px; */
  /* overflow: hidden; */
  font-size: 15px;
  /* margin: 20px; */
  font-weight: bold;
}


.animate3 h4 {
  color: #fff;
  margin-left: 20px;
  font-weight: bold;
}

.ground {
  width: 100%;
  height: 329px;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  background-color: #f7f7f7;
}

.footer {
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

.footerBox {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 286px;
}

.topText {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  border-bottom: 1px solid #e5e5e5;
}

.line1 {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  border-bottom: 1px solid #e5e5e5;
}

.footerContainer {
  display: flex;
  height: 170px;
  border-bottom: 1px solid #e5e5e5;
}

.colunmContents {
  flex-direction: column;
  font-weight: bold;
  font-size: medium;
  width: 7%;
}

.colunmContents * {
  margin-top: 20px;
}

.rowContents {
  flex-direction: row;

}

.rowContents * {
  margin-top: 24px;
  font-size: 14px;
}

.lastFooter {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
}
