#modify_user_info {
  margin: var(--page-container-marin-top) 0 var(--page-container-marin-bottom);
}

#modify_user_info > .inner {
  margin: 0 auto;
  max-width: 48rem;
}

#modify_user_info h2 {
  font-size: 32px;
}

#modify_user_info form[name='modify_user_form'] {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.5);
  width: fit-content;
  width: -moz-fit-content;
  margin: 2rem auto 0;
}

#modify_user_info form[name='modify_user_form'] > .inputs > .input:not(:last-child) {
  margin-bottom: 8px;
}

#modify_user_info form[name='modify_user_form'] > .inputs > .input > input {
  width: 300px;
}

#modify_user_info form[name='modify_user_form'] > .modify_button_con {
  margin-top: 1rem;
  text-align: center;
}
