@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

title{
  font-size:1pt;
}

/* 메인팝업창 */

.popup-all{
  font-size: 12pt;
  font-family: 'NanumSquare', sans-serif;
  
}


html,
body {
  height: 100%;
  font-family: 'NanumSquare', sans-serif;

}


* {
  margin: 0;
  padding: 0;
  color: black;

}

#header ul,
#header ul li,
#card1 ul,
#card1 ul li,
#main_bottom ul,
#main_bottom ul li{
  list-style: none;
}

a {
  text-decoration: none;
}


.nav_title {
  display: inline-block;
  position: relative;
  letter-spacing: 4px;
  font-weight: 600;

}

.nav_title::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  top: 20px;
  background-color: #D94925;/* rgb(46, 46, 46);*/

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_sub {
  display: inline-block;
  position: relative;

}

.nav_sub::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 20px;
  background-color:#D94925;/* rgb(46, 46, 46);*/

  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav_sub:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#header {

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  background-color: #fff;
  font-family: 'NanumSquare', sans-serif;
  font-size: 17px;


}


#header>#logo {
  width: 180px;
  height: 40px;
  align-items: center;
  padding: 20px 0;
}


#header>#gnb {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header>#gnb::before {
  position: absolute;
  display: none;
  align-items: center;
  content: "";
  width: 100%;
  height: 180px;
  top: 80px;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0px 10px 10px 0px rgba(48, 49, 51, 6%);

  transition: transform 0.5s ease-out;


}

#header>#gnb.on::before {
  display: block;
}

#header>#gnb>li .snb {
  position: absolute;
  top: 100px;
  display: none;
}

#header>#gnb.on>li .snb {
  display: block;
}

#header>#gnb>li>.snb>ul>li+li {
  margin-top: 20px;
}

#header>#util {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#util>#cartIcon {
  margin-right: 10px;
  top: 100px;
}

#util:nth-child(2){
  cursor:pointer;
}


#footer {
  position: relative;
  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
  border-top: 1px solid #e1e1e1;
  padding: 40px 20px;
  margin-top: 150px;  /*이부분은 따로 추가한내용*/
  font-family: 'NanumSquare', sans-serif;
}

#footer_logo {
  grid-column: 2/3;
}

#footer_logo>#logo {
  width: 240px;
  height: 55px;
}

#footer_text {
  grid-column: 3 / 5;
}

#footer_number {
  grid-column: 5/7;
}

#footer>#footer_text,
#footer_number>p {
  font-size: 14px;
}

#footer>#footer_text>p {
  color: #616161;
}

/*여기까지 공유.css 랑 똑같음.*/



#main {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  /* 필요에 따라 더 많은 행 추가 */

}



#mainVideo {
  position: relative;
  grid-column: 1;
  width: 100%;
  top: 80px;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;


}

#mainvideo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#mainvideo_text img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}


#mainPhoto1 {
  grid-column: 1;
  width: 100%;
  position: relative;
  background: no-repeat, cover;
  background-color: black;

  height: auto;
  padding: 140px 0px 140px 0px;

}

#mainPhoto2 {
  grid-column: 1;
  width: 100%;
  position: relative;
  background: url("koes_feature_img_03.png") fixed;
  height: 750px;
  background-repeat: no-repeat;
  background-size: 100%;
}

#slideCamera {
  grid-column: 1;
  width: 100%;
}


#mainVideo>video {
  width: 100%;
  vertical-align: top;
  height: auto;
}


#mainvideo_bg>video {
  width: 100%;
}

#mainPhoto1>img {
  width: 90%;
  vertical-align: top;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-left: 90px;
}

#mainPhoto2>img {
  width: 100%;
  vertical-align: top;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

#mainPhoto2>p {
  position: absolute;
  left: 30%;
  top: 50%;
  color: white;
  font-size: 55px;
  font-weight: 900;
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: 25px;


}


/*카메라 슬라이드*/
.slide_wrap_camera {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 330px;
  margin: 0 auto;
}

.slide>img {
  display: block;
}

.slide_show {
  width: 90%;
  height: 300px; 
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.slide_show .slide_list {
  position: relative;
  overflow: hidden;
  width: 5500px;
  height: 360px
}

.slide_show .slide_list>div {
  float: left;
  width: 410px;
  padding: 5px 15px 5px 15px;
  height: 250px;
  box-sizing: content-box;
  position: relative;
}

.slide_show .slide_list>div:before {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  font-family: 'RIDIBatang';
}

.slide_list>div:nth-child(3n+1)::before {
  content: '01'
}

.slide_list>div:nth-child(3n+2)::before {
  content: '02'
}

.slide_list>div:nth-child(3n+3)::before {
  content: '03'
}

.slide_show .slide_list>div img {
  width: 100%;
}

.slide_btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translatex(-50%);
}

.slide_btn button {
  background: rgba(255, 255, 255, 0.219);
  border: 1px solid rgba(156, 154, 154, 0.4);
  color: rgba(125, 125, 125, 0.4);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.slide_btn button:hover {
  background: rgba(0, 0, 0, 0.308);
  ;
}

/*카메라 여기서 끝 */


#aside {

  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);

  display: grid;

  height: 875px;
  padding-bottom: 150px;

}

.slide slide_wrap {
  grid-column: 1/2;

}

/*aside 왼쪽 이미지슬라이드*/
.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  left: 0px;
  width: 100%;
  height: 100%;
  width: 820px;
  height: 875px;

  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}

.slide_button {

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: calc(50% - 30px);

  width: 32px;
  height: 32px;

  border-radius: 100%;
  background: rgba(255, 255, 255, 0.219);
  border: 1px solid rgba(156, 154, 154, 0.4);
  color: rgba(255, 255, 255, 0.99);
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}

.slide_next_button {
  left: 750px;
}


.slide_item:nth-child(1) {
  background: url("슬라이드.jpg");
}

.slide_item:nth-child(2) {
  background: url("슬라이드\ \(1\).jpg");
}

.slide_item:nth-child(3) {
  background: url("슬라이드\ \(2\).jpg");
}

.slide_item:nth-child(4) {
  background: url("슬라이드\ \(4\).jpg");
}


/* aside 왼쪽 슬라이드 페이지네이션 스타일 */
.slide_pagination {
  display: flex;
  gap: 5px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide_pagination>li {
  color: #fbfbfb88;
  cursor: pointer;
  font-size: 25px;
}

.slide_pagination>li.active {
  color: #f5f5f5;
}


/*aside 오른쪽*/

.cards {
  overflow: scroll;
  float: left;
  text-align: justify;
  background-attachment: local;

}

#card1,
#card2 {
  height: 875px;
  overflow: auto;
}

#card1 {
  grid-column: 2/3;
  padding: 0 30px 0 30px;

}

#card2 {
  grid-column: 3/4;

}


.cards::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.cardImg>img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  transition: all 0.2s linear;
}

.cardContent {
  width: 90%;
  padding: 10px 0 60px 0;
  margin-left: 20px;
}


#cards>ul>li {
  width: 400px;
  height: 583px;
  font-family: 'NanumSquare', sans-serif;
}


.cardImg:hover img {
  transform: scale(1.1);
}

.cardContent>h4 {
  font-size: 20px;
  margin: 10px 0 10px 0px;
}

.cardContent>strong {
  font-size: 14px;
  font-weight: bold;
}

.cardContent>p {
  font-size: 15px;
  color: #545454;
}


.mountain>img {
  width: 100%;

}



/*마지막이미지 상하슬라이드 */

#main_bottom {
  position: relative;
  width: 100%;
  height: 810px;

  margin: auto;

  background: white;

}


#bottom_slide {
  text-align: center;
  width: 1200px;
  height: 810px;
  overflow: hidden;
  color: rgb(197, 196, 196);
  margin: auto;

  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}



#bottom_img1,
#bottom_img2 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 810px;
  background-color: black;
  
}

#bottom_img1 {
  background: url("bottom_img\ \(1\).jpg");
}

#bottom_img2 {
  background: url("bottom_img\ \(2\).jpg");
}

#bottom_img1>h2,
#bottom_img2>h2 {
  position: absolute;
  left: 2%;
  top: 41%;

  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: #cccccc;
  width: 90vw;
  max-width: 1200px;
  
}
