#map{
    border: 2px solid #052943;
    border-radius: 20px;
    width:100%;
    height:500px;
}

.stamp{
    margin-left: 85%;
}
p{
    float: left;
    font-size: 25px;
}
.num{
    margin-left: 10px;
    color: darkorange;
}
hr{
    clear: left;
}
.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
}

.info {
    font-size: 12px;
    padding: 5px;
}
.info .title {
    font-weight: bold;
}
