/* 팝업창 숨겨.entire놓기 */
.lee_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.lee_modal-content {
    font-size: 20pt;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lee_modal-buttons {
    /* background-color: #fefefe; */
    padding: 30px;
    border: 0px;
    width: 500px;
    text-align: center;
}
.lee_modal button{
    font-size: 14pt;
    width: 130px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
}

.lee_modal button:first-child {
    background-color: black;
    color: white;
}

.lee_modal button:last-child {
    background-color: white;
    color: black;
    border:1px solid black;
}

/* 태그속성 */
.container * {
    box-sizing: border-box;

}

.container a {
    text-decoration: none;
    color: black;
}

/* 공통 속성 */
.container .borderline {
    border: none;
    height: 3px;
    background-color: black;
}

.s-2 ul,
.s-3 ul,
.s-4 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 0px;
    width: 670px;
}

.container input[type="text"] {
    width: 320px;
    height: 45px;
    box-sizing: border-box;
    padding: 17px 15px;
}

.container h3 {
    margin-top: 50px;
}

.s-2 label,
.s-3 label,
.s-4 label {
    display: inline-block;
    width: 170px;
    font-size: 14pt;
    color: rgb(112, 112, 112);
}

/* ========================== */
.entire {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* align-items: center; */
}

.container {
    /* background-color: #001; */
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(1, 670px);
    grid-template-areas:
        "h"
        "s1"
        "s6"
        "s4"
    ;
}

.header {
    grid-area: h;
    width: 100%;
    text-align: center;
    /* margin-top: 20px; */
}

.header * {
    text-align: center;
    margin: 10px 0px;
}

.header span {
    font-weight: bold;
    letter-spacing: 3px;

}

.s-1 {
    display: none;
    grid-area: s1;
}

.s-1 .s1-item0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lee_cart button {
    background-color: #ffffff;
    color: #414141;
    border: 1px solid black;
    font-size: 12pt;
    width: 140px;
    height: 40px;
    margin-top: 15px;
}

.s-1 table {
    width: 670px;
    text-align: left;
}

.s-1 tr:first-child{
    height: 40px;
    border-bottom: 1px solid #414141;   
}

.s-1 .w1 {
    width: 30px;
}

.s-1 .w2 {
    width: 110px;
}

.s-1 .w3 {
    width: 220px;
    padding-left: 10px;
}

.s-1 .s1-item {
    display: flex;
    justify-content: center;
}

.s-1 .s1-item .product-box div:first-child {
    font-weight: bold;
    margin-bottom: 7px;
}

.s-1 .s1-item .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    margin: 0px 10px;
    height: 100px;
    background-color: #f7f7f7;
}

.s-1 select {
    width: 80px;
    height: 30px;
    border-radius: 0px;
}

.lee_empty{
    text-align: center;
    margin-bottom: 100px;
}

.lee_empty .emptyContent{
    margin: 100px 0px;
}

.lee_empty button{

    background-color: #0a0a0a;
    color: #ffffff;
    border: 1px solid black;
    font-size: 12pt;
    width: 140px;
    height: 40px;
    margin-top: 50px;
}

.s-6 {
    grid-area: s6;
    display: none;
    justify-content: center;
    align-items: center;
}

.s-6 button {
    background-color: #0a0a0a;
    color: white;
    border: none;
    font-size: 16pt;
    width: 148px;
    height: 60px;
    margin-top: 15px;
}

.s-6 button:hover {
    transition: 0.3s;
    background-color: #D94925;
}

.s-4{
    display: none;
    grid-area: s4;
}

.s-4 li {
    margin: 10px;
    width: 670px;
}

.s-4 li {
    display: flex;
    justify-content: space-between;
}

#lee_totalPriceInfo {
    font-weight: 800;
    color: #D94925;
}
